/bin
/target
/.settings
.classpath
.project
/rawMappings
/dependency-reduced-pom.xml

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### macOS ###
.DS_Store

### Windows ###
Thumbs.db

### Logs ###
*.log
